@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #DBF227, #9FC131);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px#789124dc;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #008679;
    text-align: center;
    text-shadow: 1px 1px 2px #023f39;
}

h2{
    color: #035588;
}

p{
    text-align: justify;
}